
/* Home Page */

.home-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.home-child{
    flex: 1 1 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
::-webkit-scrollbar {
  width: 6px;
  
}

::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 10px;
  height: 200px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}

.headings-box h2 , .sub-heading{
    text-align: center;
    margin: 5px 0;
}
.headings-box h2{
    text-decoration: underline;
}
.headings-box{
    width: 50vw;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-box{
    width: 90%;
    background-color: #5a5959;
    margin: 20px 30px;
    padding: 30px;
    flex: 1 1 0;
    border-right: 4px solid rgb(255, 0, 0);
}
.completed{
    border-right: 4px solid white;
}
.content-box h2{
    padding: 10px 0;
    font-weight: 600;
}
.content-box p {
    font-size: 1.15rem;
    padding: 10px 0;
}

.content-box:hover{
    transform: scale(1.015);
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #2f2f2f;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    will-change: scale , box-shadow , background-color;
}


/* Users Content */
.users-content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.pages-box{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 30px 0;
}
.pages-box button{
    background-color: #7a7b7b;
    padding: 10px 20px;
    border: none;
}
.pages-box button:hover{
    background-color: #535353;
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}
.pages-box h3{
    font-weight: 500;
}
.btn-disabled{
    background-color: #9a9a9a;
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    color: crimson;
    cursor: not-allowed;
}

/* Recipe */
.recipes-wrapper{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.span-recipe{
    margin-right: 10px;
}
.span-recipe::after{
    content: " ,";
}
.recipe-box{
    border-right: 4px solid rgb(255, 143, 15);
    text-decoration: none;
}

.input-recipes-box{
    display: flex;
    padding: 50px 0;
    
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.recipe-input{
    padding: 10px 20px;
    color: black;
    font-weight: 500;
    background-color: #cecece;
    font-size: 1rem;
    width: 70%;
}
.recipe-input:focus{
    outline: none;
    background-color: #e7e5e5;
}
.input-recipes-box button ,.go-back-to-recipe{
    padding: 10px 30px;
    color: black;
    background-color: #cecece;
}
.input-recipes-box button:hover ,.go-back-to-recipe:hover{
    background-color: #e1dfdf;;
}
.input-recipes-box button:active ,.go-back-to-recipe:active{
    background-color: #f7f3f3;;
}

.extra-recipe-details p{
    padding: 5px 0;
}
.ol{
    padding-left:25px;
}
.h3-style{
    font-weight: 600;
    font-size: 1.3rem;
    padding: 10px 0;
}